<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-header"><i class="fa fa-check"></i>Profile</div>
            <div class="card-body">  
                <p>Welcome <b>{{userInfo.name}}</b></p>
                <p>Email:  <b>{{userInfo.email}}</b></p>
                <p>Mobile: <b>{{userInfo.mobile}}</b></p>
            </div>
          </div>
        </div>
      </div>
      <!--/.row-->
    </div>
  </div>
</div>